<!DOCTYPE html>
<html>
<head>
  <title>EquiTurns</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "equi_turns", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header></header>
	<nav class="navbar navbar-default" role="navigation">
		<%= render partial: 'layouts/nav' %>
	</nav>

<%= yield %>

</body>
</html>
